.wrapper {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.icon:not(:last-child) {
  margin-right: 0.125rem;
}

.count {
  margin-left: 0.5rem;
  color: currentColor;
  font-size: 0.6875em;
}
