.wrapper {
  display: flex;
  border-bottom: 1px solid var(--color-gray-100);
}

.tab {
  flex: 1;
  padding: 0.75rem 1rem;
  text-align: center;
  cursor: pointer;
}

.tab.is-active {
  border-bottom: 2px solid var(--color-highlight);
}
