@import '~normalize.css';
@import '~rc-slider/assets/index.css';

@font-face {
  font-family: 'MillerBanner-Light';
  src: url('/fonts/MillerBanner-Light.otf') format('opentype'),
    url('/fonts/MillerBanner-Light.woff') format('woff'),
    url('/fonts/MillerBanner-Light.ttf') format('truetype'),
    url('/fonts/MillerBanner-Light.svg#MillerBanner-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size-base: 16px;
  --font-size-sm: 0.8125rem;
  --font-size-xs: 0.6875rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.375rem;
  --font-serif: 'MillerBanner-Light', Gerogia, serif;
  --font-sans-serif: 'Helvetica Neue', Helvetica Arial, sans-serif;
  --color-black: #000;
  --color-white: #fff;
  --color-header: #202020;
  --color-body: #2b2b2b;
  --color-gray-100: #eeeeee;
  --color-gray-200: #ccc;
  --color-gray-500: #656565;
  --color-highlight: #b69f58;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-base);
  color: var(--color-body);
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-serif);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

p {
  margin: 0;
}

button.icon-btn {
  padding: 0;
  background: transparent;
  border: none;
}

button.icon-btn:hover {
  cursor: pointer;
}

button.icon-btn:focus {
  outline: none;
}

input[type='number'] {
  width: 100%;
  padding: 0.5rem;
  background: var(--color-white);
  color: var(--color-body);
  border: 1px solid var(--color-gray-200);
  border-radius: 4px;
}
